/*.box{
	height: 100px;
	width: 100px;
	border:solid black;
	background-color: hotpink;
	text-align: center;

	margin: 5px;
}*/

/*html,body{
	height:100%;
	width:100%;
	margin:0px;
	padding:0px;
}
nav{
	display: flex;
	background:pink;/*
	color: white;
}
nav li{
	list-style: none;
	padding:0 23px;
}*/*/